[submodule "submodules/menstruation-telegram"]
	path = submodules/menstruation-telegram
	url = https://github.com/kmein/menstruation-telegram
[submodule "submodules/menstruation-backend"]
	path = submodules/menstruation-backend
	url = https://github.com/kmein/menstruation.rs
